body, html {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

button {
  background: white;
  padding: 10px 15px;
}

textarea {
  width: 100%;
  resize: none;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}